// Most all CSS is bootstrap but here's some hovers
// try and minimise targeting as can't add class to t4Edit links
#footer .row ul.list-unstyled {
    li {
        svg {
        transition: .2s transform ease-out;
        }
        &:hover svg {
            transition: .2s transform ease-out;
            transform: translateX(2px);
        }
    }
}

// t4 edit block
 .footer-edit-block {
     opacity: 0;
     transition: 1s ease-out all;
     transition-delay: 1.5s;
 }
 .footer-edit-block:hover {
     opacity: 1;
 }