// Rotate the arrows based on whether the button is open or collapsed

.ki-utility-links button.btn[aria-expanded="false"] svg {
    transform: rotate(0deg);
    transition: .2s all ease-out;
    // color: var(--info);
}
.ki-utility-links button.btn[aria-expanded="true"] svg {
    transform: rotate(180deg);
    transition: .2s all ease-in;
}

// tidy up the svg's on the list items
.ki-utility-links svg.icon-arrow.d-none.d-md-inline-block {
    margin-bottom: 2px;
}

.ki-utility-links li {
    transition: .2s transform ease-out;
    &:hover svg {
        transition: .2s transform ease-out;
        transform: translateX(2px);
    }
}

// Gmail roll over NOTE pulsate-bck animations held in _ki-back-to-top.scss
.k-email:hover svg {
    animation: pulsate-bck 0.5s ease-in-out both;
}

// Press release highlights RHS
.ki-home-news-rhs ul {
    padding-left: 0px;
    list-style: disc inside;
    // list-style-type: none;
    a {
        color: white;
    }
}