.layout-staff {
    // .card-header {

    // }
    .card-body {

    }
    .card-img-top {
     position: absolute;
     top: 0;
    }
    .avatar {
        z-index: 22;
        img {
            border-radius: 50%;
            border: 5px solid rgba(255,255,255,0.5);
        }
    }
}