
// SEARCH OVERLAY quick w3schools example for now
/* The overlay effect with black background */
.overlay {
    height: 100vh;
    width: 100vw;
    visibility: hidden;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #333;
    opacity: 0;
    transition: .2s opacity ease-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.overlay.overlay-active {
    opacity: .96;
    visibility: visible;
}
  /* The content */
.overlay-content {
    // position: relative;
    // top: 46%;
    // width: 80%;
    // text-align: center;
    // margin-top: 30px;
    // margin: auto;

}

  /* Close button */
.overlay .closebtn {
    position: absolute;
    // // top: 20px;
    top: 80px;
    right: 45px;
    font-size: 50px;
    cursor: pointer;
    // // color: white;
    transition: all .4s ease-out;
    color: #eee;
    display: flex;
    align-items: center;
}

span.esc {
    font-size: 40px;
}

.overlay .closebtn:hover {
    transform: rotate(3deg)  scale(1.12);
    // color: #007bff !important;
    // color: theme-color(primary) !important;
    color: #0b9dda;
    transition: all .2s ease-in;
}

  /* Style the search field */
.overlay input[type=text] {
    padding: 15px;
    font-size: 17px;
    border: none;
    float: left;
    width: 80%;
    background: white;
    border-radius: 4px 0px 0px 4px;
}
.overlay input[type=text]:hover {
    background: #f1f1f1;
}

  /* Style the submit button */
.overlay button {
    // float: left;
    // width: 80px;
    padding: 15px;
    // background: #ddd;
    background-color: theme-color(primary);
    color: white;
    // font-size: 17px;
    // border: none;
    cursor: pointer;
    border-radius: 0px 4px 4px 0px;
    transition: .2s all ease-out;
}

.overlay button:hover {
    background: #bbb;
    background-color: theme-color(success);
    color: white;
}